span.show_name {
    font-size: 10px;
}
.widget-box.widget-calendar {
    font-family: Maitree;
}
span.request{
  font-size :14px;
  color: crimson;
}
.widget-box.widget-chat {
   font-family: Maitree;
}