.center{
	text-align: center;
	font-family: Maitree;
}
.DataTables_sort_wrapper {
    font-family: Maitree;
	font-size: 15px;
}
td.center {
    text-align: center;
}
.f_th1{
	font-family: Taviraj;
}
.f_th2{
	font-family: Kanit;
}
.f_th3{
	font-family: Maitree;
}
h5.f_th1 {
	font-family: Taviraj;
	font-size: 17px;
}
.sorting_1 {
    font-family: Maitree;
    text-align: center;
}
.odd {
	font-family: Maitree;
    text-align: center;
}
