.center{
	text-align: center;
}
.thead{
	font-family: Taviraj;
	text-align: center;
	font-size: 15px;
}
.h1{
	font-family: Kanit;
	color:yellow;
	font-size: 29px;
	font-weight: 900;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.tbody{
	font-family: Kanit;
	color: black;
	font-weight:bolder;
	font-size: 14px;
}

.panel.panel-primary.div1{
	font-family: Taviraj;
	text-align: center;
	font-size: 15px;
	font-weight: 900;
}
.div2{
	font-family: Taviraj;
	text-align: left;
	padding-left: 50px;
	font-size: 27px;
	font-weight: 900;
}
.div3{
	font-family: Taviraj;
	font-size: 18px;
	font-weight: 600;
}
.div4{
	font-family: Kanit;
	font-size: 18px;
	font-weight: 600;
	width: 40%;
}
.div5{
	background-color:#feff0085;
}
.div6{
	background-color:#7fff93b0;
}
.div7{
	background-color:#f5060680;
}
.panel-primary .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    font-size: 25px;
}
.navbar-default {
    font-family: Taviraj;
    color: black;
    font-weight: 700;
}
.navbar-nav>li>.dropdown-menu {
    font-family: monospace;
}
.show{
	font-size: 20px;
}
.alert-danger {
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
}