.center{
	text-align: center;
}

.panel.panel-primary.div1{
	font-family: Taviraj;
	text-align: center;
	font-size: 15px;
	font-weight: 900;
}
.panel-primary .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    font-size: 15px;
}
.navbar-default {
    font-family: Taviraj;
    color: black;
    font-weight: 700;
}
.navbar-nav>li>.dropdown-menu {
    font-family: monospace;
}
h1 {
  	font-family: Taviraj;
  	font-size: 15px;
  	padding: 10px 10px;
  	text-align: center;
  	text-transform: uppercase;
  	text-rendering: optimizeLegibility;
}
.elegantshadow {
	color: #171616bf;
	font-weight: 600;
	letter-spacing: .10em;
}

.ui-checkbox{
    display: inline-block;
    position: relative;
    border: 1px solid gray;
    border-radius: 5px;
    perspective: 100px;
    transform-style: preserve-3d;
    vertical-align: middle;
}

.ui-checkbox input{
    padding: 0;
    margin: 0;
    opacity: 0;
    position: relative;
    z-index: 100;
    width: 20px;
    height: 20px;
}

.ui-checkbox [data-checked]:before, .ui-checkbox .ui-checked{
    content: attr(data-checked);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.ui-checkbox [data-unchecked]:after, .ui-checkbox .ui-unchecked{
    content: attr(data-unchecked);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.ui-checkbox input:checked + [data-checked]:before, .ui-checkbox input:checked + .ui-custom .ui-checked{
    visibility: visible;
}

.ui-checkbox input:not(:checked) + [data-unchecked]:after, .ui-checkbox input:not(:checked) + .ui-custom .ui-unchecked{
    visibility: visible;
}

.ui-small{
    width: 20px;
    height: 20px;
}

.ui-small [data-checked]:before, .ui-small [data-unchecked]:after, .ui-small .ui-custom{
    font-size: 16px;
}

.ui-small input{
    width: 20px;
    height: 20px;
}

.ui-medium{
    width: 30px;
    height: 30px;
}

.ui-medium [data-checked]:before, .ui-medium [data-unchecked]:after, .ui-medium .ui-custom{
    font-size: 18px;
}

.ui-medium input{
    width: 30px;
    height: 30px;
}

.ui-large{
    width: 50px;
    height: 50px;
}

.ui-large [data-checked]:before, .ui-large [data-unchecked]:after, .ui-large .ui-custom{
    font-size: 30px;
}

.ui-large input{
    width: 50px;
    height: 50px;
}

.ui-checkbox.noround{
    border-radius: none !important;
    border: none !important;
}

.ui-checkbox.round{
    border-radius: 50%;
}



.ui-checkbox.bg-tomato, .ui-checkbox.bg-gray, .ui-checkbox.bg-tomato, .ui-checkbox.bg-dodgerblue, .ui-checkbox.bg-gold, .ui-checkbox.bg-limegreen, .ui-checkbox.bg-crimson, .ui-checkbox.bg-cadetblue, .ui-checkbox.bg-indigo, .ui-checkbox.bg-magenta, .ui-checkbox.bg-darkkhaki, .ui-checkbox.bg-sandybrown, .ui-checkbox.bg-hotpink{
    border-width: 2px;
    border-style: solid;
}


.ui-checkbox.bg-tomato{
    border-color: Tomato;
    background-color: transparent;
    color: Tomato;
}


.ui-checkbox.bg-gray{
    border-color: #CCC;
    background-color: transparent;
    color: #CCC;
}

.ui-checkbox.bg-tomato{
    border-color: Tomato;
    background-color: transparent;
    color: Tomato;
}

.ui-checkbox.bg-dodgerblue{
    border-color: dodgerblue;
    background-color: transparent;
    color: dodgerblue;
}

.ui-checkbox.bg-gold{
    border-color: gold;
    background-color: transparent;
    color: gold;
}

.ui-checkbox.bg-limegreen{
    border-color: limegreen;
    background-color: transparent;
    color: limegreen;
}

.ui-checkbox.bg-crimson{
    border-color: crimson;
    background-color: transparent;
    color: crimson;
}

.ui-checkbox.bg-cadetblue{
    border-color: CadetBlue;
    background-color: transparent;
    color: CadetBlue;
}


.ui-checkbox.bg-indigo{
    border-color: indigo;
    background-color: transparent;
    color: indigo;
}

.ui-checkbox.bg-magenta{
    border-color: magenta;
    background-color: transparent;
    color: magenta;
}

.ui-checkbox.bg-darkkhaki{
    border-color: darkkhaki;
    background-color: transparent;
    color: darkkhaki;
}

.ui-checkbox.bg-sandybrown{
    border-color: sandybrown;
    background-color: transparent;
    color: sandybrown;
}


.ui-checkbox.bg-hotpink{
    border-color: hotpink;
    background-color: transparent;
    color: hotpink;
}



.ui-checkbox.ui-animation-fadein [data-checked]:before, .ui-checkbox.ui-animation-fadein .ui-checked{
    opacity: 0;
    transition: all 1s cubic-bezier(0,.98,.21,.96);
}

.ui-checkbox.ui-animation-fadein [data-unchecked]:after, .ui-checkbox.ui-animation-fadein .ui-unchecked{
    opacity: 0;
    transition: all 1s cubic-bezier(0,.98,.21,.96);
}

.ui-checkbox.ui-animation-fadein input:checked + [data-checked]:before, .ui-checkbox.ui-animation-fadein input:checked + .ui-custom .ui-checked{
    visibility: visible;
    opacity: 1;
}

.ui-checkbox.ui-animation-fadein input:not(:checked) + [data-unchecked]:after, .ui-checkbox.ui-animation-fadein input:not(:checked) + .ui-custom .ui-unchecked{
    visibility: visible;
    opacity: 1;
}


.ui-checkbox.ui-animation-zoom [data-checked]:before, .ui-checkbox.ui-animation-zoom .ui-checked{
    transition: transform 1s cubic-bezier(0,.98,.21,.96);
    transform: translateX(-50%) translateY(-50%) translateZ(-100px);
}

.ui-checkbox.ui-animation-zoom [data-unchecked]:after, .ui-checkbox.ui-animation-zoom .ui-unchecked{
    transition: transform 1s cubic-bezier(0,.98,.21,.96);
    transform: translateX(-50%) translateY(-50%) translateZ(-100px);
}

.ui-checkbox.ui-animation-zoom input:checked + [data-checked]:before, .ui-checkbox.ui-animation-zoom input:checked + .ui-custom .ui-checked{
    visibility: visible;
    transform: translateX(-50%) translateY(-50%) translateZ(0px);
}

.ui-checkbox.ui-animation-zoom input:not(:checked) + [data-unchecked]:after, .ui-checkbox.ui-animation-zoom input:not(:checked) + .ui-custom .ui-unchecked{
    visibility: visible;
    transform: translateX(-50%) translateY(-50%) translateZ(0px);
}


.ui-checkbox.ui-animation-flip [data-checked]:before, .ui-checkbox.ui-animation-flip .ui-checked{
    transition: transform 1s cubic-bezier(0,.98,.21,.96);
    transform: translateX(-50%) translateY(-50%) rotateX(90deg);
}

.ui-checkbox.ui-animation-flip [data-unchecked]:after, .ui-checkbox.ui-animation-flip .ui-unchecked{
    transition: transform 1s cubic-bezier(0,.98,.21,.96);
    transform: translateX(-50%) translateY(-50%) rotateX(90deg);
}

.ui-checkbox.ui-animation-flip input:checked + [data-checked]:before, .ui-checkbox.ui-animation-flip input:checked + .ui-custom .ui-checked{
    visibility: visible;
    transform: translateX(-50%) translateY(-50%) rotateX(0deg);
}

.ui-checkbox.ui-animation-flip input:not(:checked) + [data-unchecked]:after, .ui-checkbox.ui-animation-flip input:not(:checked) + .ui-custom .ui-unchecked{
    visibility: visible;
    transform: translateX(-50%) translateY(-50%) rotateX(0deg);
}


.ui-checkbox.ui-animation-rotate [data-checked]:before, .ui-checkbox.ui-animation-rotate .ui-checked{
    transition: transform 1s cubic-bezier(0,.98,.21,.96);
    transform: translateX(-50%) translateY(-50%) rotateY(360deg);
}

.ui-checkbox.ui-animation-rotate [data-unchecked]:after, .ui-checkbox.ui-animation-rotate .ui-unchecked{
    transition: transform 1s cubic-bezier(0,.98,.21,.96);
    transform: translateX(-50%) translateY(-50%) rotateY(360deg);
}

.ui-checkbox.ui-animation-rotate input:checked + [data-checked]:before, .ui-checkbox.ui-animation-rotate input:checked + .ui-custom .ui-checked{
    visibility: visible;
    transform: translateX(-50%) translateY(-50%) rotateY(0deg);
}

.ui-checkbox.ui-animation-rotate input:not(:checked) + [data-unchecked]:after, .ui-checkbox.ui-animation-rotate input:not(:checked) + .ui-custom .ui-unchecked{
    visibility: visible;
    transform: translateX(-50%) translateY(-50%) rotateY(0deg);
}


.element{
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    padding: 10px;
    border: 1px solid #DDD;
    font-family: Taviraj;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-top: 10px;
}

.element .el-child + .el-child{
    margin-top: 10px;
}

.element h2{
    padding: 2px;
    text-align: center;
    margin: 0;
    font-size: 19px;
    margin-bottom: 1px;
    font-family: Maitree;
}

label{
    margin-left: 5px;
    margin-right: 5px;
}

.el-child-inline{
    display: inline-block;
    margin: 5px;
    font-family: maitree;
}

.wrapper{
    
    grid-template-columns: auto auto;
    grid-gap: 30px;
    width: 90%;
    margin: auto;
}
h2.h2 {
    color: #f50101;
}
.width{
    width: 70%;
}
img.image {
    height: 65px;
    width: 65px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.image1 {
  width: 15%;
  border-radius: 8px;
  border:1px solid #08abf9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.yellow{
	color: #7b0df1;
}
.red{
	color: red;
}
.blue{
	color: #0d86f1;
}
.black{
	color: #121213;
}
.orange {
  color: #f1be4b;
}
.font1{
    color: #0586f5;
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
}
.day{
	margin-top: 10px;
}
.day1{
	color: green;
}
table.dataTable {
    font-family: Taviraj;
    font-weight: 900;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 129px;
}

.center{
    text-align: center;
    font-family: Maitree;
}
.DataTables_sort_wrapper {
  font-family: Maitree;
    font-size: 15px;
}
td.center {
  text-align: center;
}
.f_th1{
    font-family: Taviraj;
}
.f_th2{
    font-family: Kanit;
}
.f_th3{
    font-family: Maitree;
}
h5.f_th1 {
    font-family: Taviraj;
    font-size: 17px;
}
.sorting_1 {
  font-family: Maitree;
  text-align: center;
}
.odd {
    font-family: Maitree;
    text-align: center;
}
.even {
    font-family: Maitree;
    text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
  background-image: url('../../images/img/glyphicons-halflings.png');
}
#sidebar > ul li a i {
  background-image: url('../../images/img/glyphicons-halflings-white.png');
}
#user-nav > ul > li > a > i, #sidebar li a i {
  background-image: url('../../images/img/glyphicons-halflings-white.png');
}
#breadcrumb a {
  background-image: url('../../images/img/breadcrumb.png');
}
.icon-white, .nav-pills>.active>a>[class^="icon-"], .nav-pills>.active>a>[class*=" icon-"], .nav-list>.active>a>[class^="icon-"], .nav-list>.active>a>[class*=" icon-"], .navbar-inverse .nav>.active>a>[class^="icon-"], .navbar-inverse .nav>.active>a>[class*=" icon-"], .dropdown-menu>li>a:hover>[class^="icon-"], .dropdown-menu>li>a:focus>[class^="icon-"], .dropdown-menu>li>a:hover>[class*=" icon-"], .dropdown-menu>li>a:focus>[class*=" icon-"], .dropdown-menu>.active>a>[class^="icon-"], .dropdown-menu>.active>a>[class*=" icon-"], .dropdown-submenu:hover>a>[class^="icon-"], .dropdown-submenu:focus>a>[class^="icon-"], .dropdown-submenu:hover>a>[class*=" icon-"], .dropdown-submenu:focus>a>[class*=" icon-"] {
  background-image: url('../../images/img/glyphicons-halflings-white.png');
}
#header h1 {
  background: url('../../images/img/logo.png') no-repeat scroll 0 0 transparent;
}
.select2-container .select2-choice div b {
  background: url('../../images/img/select2.png') no-repeat 0 1px;
}
.controls.select2 {
  width: 244px;
}
img.image {
  width: 50px;
  height: 50px;
}
select#id_per {
    font-size: 14px;
    font-family: Maitree;
}
input.form-control {
    font-family: maitree;
}
textarea.form-control {
    font-family: maitree;
    width: 90%;
}
.panel-body.patding {
    padding-top: 10px;
}
input.btn.btn-primary.b1 {
    font-family: Taviraj;
    font-size: 15px;
    font-weight: 600;
}
td.reason {
    width: 5%;
    text-align: left;
}
td.img {
    width: 50px;
}
span.label.label-important2 {
    background-color: cornflowerblue;
}
span.label.label-important3 {
    background-color: green;
}
.alert.alert-error {
    margin-bottom: 5px;
    font-family: Taviraj;
}
.alert-num{
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-family: maitree;
}
i.icon-plus {
    margin-top: 8px;
}
.deduct{
    color: #498bed;
}